{% extends "ecommerce/layout.html" %}
{% block title %} | Acerca{% endblock %}
{% block content %}
<div class="section text-center">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">Acerca de...</h2>
        <h5 class="description">Este es un proyecto a ser presentado para el curso de Desarrollador full stack con Python y JavaScript disctado por PoloTic Misiones</h5>
      </div>
    </div>
    <div class="features">
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-info">
              <i class="material-icons">chat</i>
            </div>
            <h4 class="info-title">Consultas Online</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, accusantium numquam sunt corporis dolore blanditiis voluptatem consequuntur accusamus sapiente, ab perspiciatis adipisci error, quo commodi cumque. Natus, omnis! Aliquam, minima!</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-success">
              <i class="material-icons">verified_user</i>
            </div>
            <h4 class="info-title">Seguro</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto numquam magni similique odit ipsum facere repellendus quasi amet molestias ullam eveniet dolores cumque, illum autem delectus laudantium aperiam ut unde!</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="material-icons">add_task</i>
            </div>
            <h4 class="info-title">Fácil</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta vel dolores saepe quia vitae deleniti minus distinctio non veritatis molestias, eos doloremque laborum magnam veniam minima reprehenderit. Quis, excepturi cumque.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}